*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/*/src/androidTest
/*/src/test
import-summary.txt
platform_packages_apps_mms/
